# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

# vs
*.exe
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
Debug/
ipch/
readBitmap/*.bmp