# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

# vs
*.exe
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
Debug/
ipch/
readBitmap/*.bmp
ddraw/*.jpg
ddraw/*.bmp
ddraw/BitmapData.cpp
ddraw/BitmapData.h
spriteTest/image.jpg
spriteTest/image.bmp
spriteTest/image2.bmp
spriteTest/image3.bmp